@{
    ViewBag.Title = "Reset Password";
}

<!DOCTYPE html>
<html>
<head>
    <!-- Include any necessary stylesheets and scripts -->
    <style>
        .container{
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>
    <div class="container py-5">
        <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
            <div class="card-header bg-dark text-white" style="padding: 1rem; border-bottom: 1px solid #fff;">
                <h3 class="card-title">Reset Password</h3>
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label for="email">
                            <i class="fas fa-envelope"></i> Email
                        </label>
                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter your email address">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <button type="submit" id="resetPasswordButton" class="btn btn-primary btn-block mb-3">Reset Password</button>
                    <div class="alert alert-danger d-none my-3" id="reset-password-error" role="alert">
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        <strong>Error!</strong> <a href="#" class="alert-link">Please check your email and try again.</a>
                    </div>
                    <div class="alert alert-success d-none my-3" id="reset-password-success" role="alert">
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        <strong>Success!</strong> <a href="#" class="alert-link">Password reset link has been sent to your email.</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Include any necessary scripts -->
    <script type="module" src="/lib/firebase/firebase-reset-password.js?newversion"></script>
</body>
</html>