@* @{ *@
@*     ViewData["Title"] = "Home"; *@
@* } *@
@* *@
@* <!DOCTYPE html> *@
@* <html> *@
@* <head> *@
@*     <style> *@
@*         /* CSS for the splash page */ *@
@*         .splash-page { *@
@*             background-color: #ffffff; *@
@*             position: fixed; *@
@*             top: 0; *@
@*             left: 0; *@
@*             width: 100%; *@
@*             height: 100%; *@
@*             z-index: 9999; *@
@*         } *@
@*          *@
@*         .splash-page img { *@
@*             position: absolute; *@
@*             top: 50%; *@
@*             left: 50%; *@
@*             transform: translate(-50%, -50%); *@
@*         } *@
@*     </style> *@
@* </head> *@
@* <body> *@
@* <div class="splash-page"> *@
@*     <img src="https://img.freepik.com/premium-photo/3d-render-3d-illustration-dynamic-liquid-splash-whiskey-splash_461160-5073.jpg?w=740" /> *@
@* </div> *@
@* *@
@* <script> *@
@*     // JavaScript to redirect the user to the desired page when they click anywhere on the screen *@
@*     document.addEventListener('click', function () { *@
@*         window.location.href = '/Account/Index'; *@
@*     }); *@
@*      *@
@*     // JavaScript to remove the splash page after a certain amount of time *@
@*     setTimeout(function () { *@
@*         document.querySelector('.splash-page').remove(); *@
@*     }, 5000); *@
@* </script> *@
@* </body> *@
@* </html> *@