@{
    ViewBag.Title = "Customers";
}

<!DOCTYPE html>
<html>
<head>
    <style>
      .container {
        margin-top: 2rem;
      }
      
    .user-photo {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
      transition: all 0.2s ease-in-out;
    }
    
    .user-photo:hover {
      transform: scale(1.1);
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    }
      
      td {
        vertical-align: middle;
      }
      
      .pagination .page-item.active .page-link {
        background-color: #343a40;
        color: #fff;
        border-color: #343a40;
      }
      
      table.dataTable thead th:first-child {
        border-top-left-radius: 0.375rem;
        border-bottom-left-radius: 0.375rem;
      }
      
      table.dataTable thead th:last-child {
        border-top-right-radius: 0.375rem;
        border-bottom-right-radius: 0.375rem;
      }
     
        .modal {
            margin-top: 2rem;
          display: none; /* Hidden by default */
         
        }
        .modal-body {       
          text-align: center;
        }
           .modal-content {
             width: 500px;
             height: 500px;
           } 
              #comments, #customers {
                display: flex;
                margin: 5px 5px 5px 0px;
                justify-content: flex-start;
                align-items: center;
              }      
                        
               .comments-button {
                 margin: 5px;
               }
               .customers-button {
                 margin: 5px;
               }
      
    </style>
</head>
<body>


<div class="container">
    <div class="table-title" data-table="1">
        <h1>Aktif Müşteriler</h1>
     <div id="comments" class="comment-container">
        <button id="switch1" type="button" data-table="2" class="comments-button btn btn-dark">
           <i class="fa fa-comment"></i> Yorumlar
        </button>
     </div>

    </div>
    <table class="table table-hover" id="customer-table" data-table="1">
        <thead>
        <tr class="table-dark">
            <th scope="col">Ad</th>
            <th scope="col">Soyad</th>
            <th scope="col">E-posta</th>
            <th scope="col">Doğum Tarihi</th>
            <th scope="col">Fotoğraf</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    
    
    <div class="table-title" data-table="2">
        <h1>Müşteri Yorumları</h1>
        <div id="customers" class="customer-container">
           <button id="switch2" type="button" data-table="1" class="customers-button btn btn-dark">
               <i class="fa fa-user"></i> Aktif Müşteriler
           </button>
        </div>
    </div>
    <table class="table table-hover" id="rating-table" data-table="2">
        <thead>
        <tr class="table-dark">
            <th scope="col">Kullanıcı</th>
            <th scope="col">Yorum</th>
            <th scope="col">Tarih</th>
            <th scope="col">Puan</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<!-- Photo Modal -->
<div id="photo-modal" class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-white bg-dark">
                <h5 class="modal-title text-white ">Kullanıcı</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>

            <div class="modal-body">
                <img src="" id="modal-image"/>
            </div>

        </div>
    </div>
</div>
</body>
</html>
<script>
$(document).ready(function () {
    $.noConflict();
    initDataTable('#customer-table');
    initDataTable('#rating-table');
  function initDataTable(tableId) {
     $(tableId).DataTable({
        "paging": true,
        "pageLength": 5,  
        "pagingType": "simple_numbers", 
        "dom": '<"row"<"col-sm-12 text-center"<"h3 mb-0">>>' +
               '<"row"<"col-sm-12 col-md-6"l><"col-sm-12 col-md-6"f>>' +
               '<"row"<"col-sm-12"tr>>' +
               '<"row"<"col-sm-12"<"d-flex justify-content-between"p>>>',
        "language": {
           "info": "Showing _START_ to _END_ of _TOTAL_ entries"
        },
        "drawCallback": function() {
                 // Get the pagination links
                 var pagination = $(this).closest('.dataTables_wrapper').find('.pagination');
         
                 // Update the class of the li elements
                 pagination.find('li').removeClass('paginate_button').addClass('page-item');
         
                 // Add the Bootstrap classes to the page links
                 pagination.find('a').addClass('page-link');
         
                 // Add the "active" class to the current page link
                 pagination.find('.active').addClass('disabled');
         
                 // Wrap the pagination links in a div with the pagination class
                 pagination.wrap($('<div>', {'class': 'pagination'}));
             }
     });
  }
 const modal = document.getElementById("photo-modal");
 const modalImage = document.getElementById("modal-image");
$(document).on("click", ".user-photo", function() {
  var src = $(this).attr("src"); 
   modal.style.display = "block";
   modalImage.src = src;
    modalImage.style.width="400px";
    modalImage.style.height="400px";
    modalImage.style.borderRadius="50%";
    modalImage.style.objectFit="cover";
    modalImage.style.transition="all 0.2s ease-in-out";
   console.log($(this).attr("data-name"));
   modal.querySelector(".modal-title").textContent = $(this).attr("data-name");

});
const closeButtonSecondary = modal.querySelector(".btn-close");
closeButtonSecondary.addEventListener("click", () => {
  modal.style.display = "none";
  });
var tables = $("table");
var tableTitles = $(".table-title");

   tables.each(function() {
        $(this).parent().parent().parent().hide();
    });
   
   tableTitles.hide().first().show();
    tables.first().parent().parent().parent().show();
  // Hides all the tables except the first
  console.log("Initial table visibility set up.");
});
var tables = $("table");
var tableTitles = $(".table-title");
$("#switch1").on("click", function() {
    toggleTables(0, 1); // Show second table, hide first
});

$("#switch2").on("click", function() {
    toggleTables(1, 0);  // Show first table, hide second 
});
function toggleTables(fromIndex, toIndex) {
  tables.eq(fromIndex).parent().parent().parent().hide();
  tableTitles.eq(fromIndex).hide();  
  
  tables.eq(toIndex).parent().parent().parent().show();
  tableTitles.eq(toIndex).show();
}
</script>
<script type="module" src="/lib/firebase/customer-page.js?newversion"></script>