@{
    // TODO: The card bodies are not vertically aligned. Fix it.
    ViewData["Title"] = "Cafe Management";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/cafe-management-page.css?newversion"/>
</head>
<body>
<div class="container mt-5">
    <div class="card-container">
        <div class="card mb-3" onclick="location.href='/CafeManagement/Customers';" style="cursor: pointer;">
            <h2 class="card-header text-white bg-dark">Müşteriler</h2>
            <div class="card-body">
                <h3 class="card-title">Müşteri Yönetim Sistemi</h3>
                <h4 class="card-subtitle text-muted">Kafenizdeki müşterilerinizi kolayca yönetin</h4>
            </div>
            <img src="/lib/img/pexels-photo-933964.jpeg" class="card-img-top" alt="Customers Image">
            <div class="card-body">
                <p class="card-text">Kafenizdeki müşterilerinizi sezgisel müşteri yönetim sistemi ile kolayca yönetin. Müşteri bilgilerini, satın alma geçmişini ve daha fazlasını takip edin.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Müşteri bilgilerini ekleyin ve düzenleyin</li>
                <li class="list-group-item">Müşteri satın alma geçmişini görüntüleyin</li>
                <li class="list-group-item">Müşterileri isim veya kimlik numarasına göre arayın</li>
            </ul>
            <div class="card-footer text-muted"> Son güncelleme 2 gün önce yapıldı </div>
        </div>
        <div class="card mb-3" onclick="location.href='/CafeManagement/Products';" style="cursor: pointer;">
            <h2 class="card-header text-white bg-dark">Ürünler</h2>
            <div class="card-body">
                <h3 class="card-title">Ürün Yönetim Sistemi</h3>
                <h4 class="card-subtitle text-muted">Kafenizdeki ürünleri kolayca yönetin</h4>
            </div>
            <img src="/lib/img/pexels-photo-16494010.jpeg" class="card-img-top" alt="Products Image">
            <div class="card-body">
                <p class="card-text">Kafenizdeki ürünleri sezgisel ürün yönetim sistemi ile kolayca yönetin. Envanteri, fiyatları ve daha fazlasını takip edin.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Ürün bilgilerini ekleyin ve düzenleyin</li>
                <li class="list-group-item">Ürün envanterini ve fiyatlarını görüntüleyin</li>
                <li class="list-group-item">Ürünleri isim veya kimlik numarasına göre arayın</li>
            </ul>
            <div class="card-footer text-muted"> Son güncelleme 2 gün önce yapıldı </div>
        </div>
        <div class="card mb-3" onclick="location.href='/CafeManagement/Payment';" style="cursor: pointer;">
            <h2 class="card-header text-white bg-dark">Ödeme</h2>
            <div class="card-body">
                <h3 class="card-title">Ödeme İşleme Sistemi</h3>
                <h4 class="card-subtitle text-muted">Ödemeleri verimli bir şekilde işleyin</h4>
            </div>
            <img src="/lib/img/pexels-photo-259200.jpg" class="card-img-top" alt="Products Image">
            <div class="card-body">
                <p class="card-text">Kafeniz için ödemeleri verimli bir şekilde işleyin. Kredi kartlarını, banka kartlarını ve daha fazlasını kabul edin.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Kredi ve banka kartlarını kabul edin</li>
                <li class="list-group-item">Güvenli bir şekilde işlem yapın</li>
                <li class="list-group-item">Ödeme geçmişini ve trendlerini takip edin</li>
            </ul>
            <div class="card-footer text-muted"> Son güncelleme 2 gün önce yapıldı </div>
        </div>
    </div>
</div>
</body>
</html>