.user-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

.user-details {
  flex: 1;
}

.label {
  font-weight: bold;
}

/* Added hover effect for table rows */
#product-table tbody tr:hover {
  background-color: #e7f0ff;
  color: rgba(0,0,0,0.8);
  transition: background-color 0.3s ease;
  cursor: pointer;
}

#product-table tbody tr.selected {
  background-color: #007bff33;
  animation: selected 0.3s ease;
}

@keyframes selected {
  from {opacity: 0}
  to {opacity: 1}
}

#product-table tbody tr:hover input[type="checkbox"] {
  transform: scale(1.2);
}

/* Added selected row styling for checkbox */
#product-table tbody tr.selected input[type="checkbox"] {
  transform: scale(1.2);
}

.offcanvas-toggle-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px; /* Increase size a bit */
  border-radius: 50%;
  background-color: #007bff;
  color: #ffffff;
  font-size: 24px;
  border: none;
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow */
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.offcanvas-toggle-button:active i {
  transform: scale(0.9); /* Scale icon on press */
}

.offcanvas-toggle-button:hover {
  background-color: #0056b3;
  cursor: pointer;
}

.offcanvas.show ~ .offcanvas-toggle-button {
  display: none;
}

.offcanvas-toggle-button i {
  transition: transform 0.3s ease;
}

.offcanvas.show ~ .offcanvas-toggle-button i {
  transform: rotate(180deg);
}

/* Added border and spacing to differentiate user info and order sections */
.offcanvas-body {
  padding: 20px;
  border-right: 1px solid #ddd;
}

.user-info {
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.selected-products-container {
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

/* Style the selected product cards */
.selected-product {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.selected-product img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
}

.product-details {
  flex-grow: 1;
}

.product-name {
  font-weight: bold;
}

.product-price {
  color: #888;
}

.checkout-button-container {
  margin-top: 20px;
  text-align: center;
}
